@import "../../../../../../common/sass/variables";
@import "../../../../../../common/sass/mixins";

.photosBlock {
  min-height: 368px;
  border-bottom: 1px solid #E5E5E5;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.photosBlockName {
  font-family: $textFontFamily;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #3B3B3B;
}

.photosBlockNameBlock {
  display: flex;
  height: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.photosContainer {
  display: flex;
  flex-wrap: wrap;
}

