@import "src/common/sass/mixins";
@import "src/common/sass/variables";


.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
}

.modalActive {
    opacity: 1;
    pointer-events: all;
}

.modalContent {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 2px;

    min-width: 350px;
    min-height: 250px;
    transform: scale(0.5);
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    justify-content: space-around;
  }

.modalContentActive {
    transform: scale(1);
}

.modalPageTitle {
    //border: 1px solid;
    @include modalTitleFont
}

.modalMessage {
    color: #000000;
    width: 343px;
    font-size: 14px;

}

.modalButtonGroup {
    display: flex;
    justify-content: space-between;

}

.loginCancelButton {
    @include LoginPageButton(#B9B9B9);
}

.loginSaveButton {
    @include LoginPageButton(#82B284);
}

.loginCancelButton:hover {
    @include LoginPageButton(#B9B9B9);
    transform: scale(1.1);
}
.loginSaveButton:hover {
    @include LoginPageButton(#82B284);
    transform: scale(1.1);
}

.lineValue {
    height: 20px;
    width: 300px;
}

