@import "../../src/common/sass/mixins";
@import "../../src/common/sass/variables";

.loginPage {
  height: 198px;
  width: 320px;
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 35%;
  left: 40%;
}
.descriptionBlock {
  height: 50px;
  //border: 1px solid;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.loginPageTitle {
  //border: 1px solid;
  @include modalTitleFont
}
.loginPageDescription {
  //border: 1px solid;
  @include modalDescriptionFont
}

.enterNameBlock {
  //border: 1px solid;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.buttonGroup {
  //border: 1px solid;
  width: 280px;
  padding-top: 4px;
  display: flex;

  justify-content: space-between;
}

.loginCancelButton {
  @include LoginPageButton(#B9B9B9);
 }

.loginSaveButton {
  @include LoginPageButton(#82B284);
 }

.loginCancelButton:hover {
  @include LoginPageButton(#B9B9B9);
  font-size: 17px;
}
.loginSaveButton:hover {
  @include LoginPageButton(#82B284);
  font-size: 17px;
}

