@import "src/common/sass/variables";
@import "src/common/sass/mixins";

.onePhotoBlock {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 204px;
  justify-content: space-between;

}

.imgStyle {
  width: 160px;
  border-radius: 2px;
}

.photoName {
  @include photoTitles(#3B3B3B)
}

.photographingDate {
  @include photoTitles(#808080)
}

