

@mixin iconButton( $background) {
  position: absolute;
  width: 48px;
  height: 60px;
  z-index: 1;
  background: $background;
}
@mixin buttonsIcon() {
  width: 18px;
  height: 16px;
  z-index: 2;
  position: absolute;
}

@mixin bigButton($background) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 60px;

  cursor: pointer;

  background-color: $background
}

@mixin otherPageFontColor( $color) {
  color: $color;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin modalTitleFont() {
  font-family: $textFontFamily;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #3B3B3B;
}

@mixin modalDescriptionFont() {
  font-family: $textFontFamily;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #3B3B3B;
}

@mixin LoginPageButton($colorText) {
  font-family: $textFontFamily;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background: none;
  cursor:pointer;
  color: $colorText;
}

@mixin LoginInput($color) {

  cursor:pointer;
  padding: 10px 12px;
  width: 200px;
  height: 15px;
  border: 1px solid $color;
  border-radius: 2px;
}

@mixin infoBlockNameRedactionButton {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 10px;
}

@mixin input($color) {

  cursor:pointer;
  width: 200px;
  height: 20px;
  border: 1px solid $color;
  border-radius: 2px;
}

@mixin fullNameInput($color) {

  cursor:pointer;
  width: 336px;
  height: 20px;
  border: 1px solid $color;
  border-radius: 2px;
}
@mixin photoTitles($color) {
  //font-family: $textFontFamily;
  //font-weight: bolder;
  font-size: 12px;
  line-height: 16px;
  color: $color;
}


