@import "src/common/sass/variables";

@font-face {
  font-family: $textFontFamily;
  src: url('../../../fonts/proximanova_regular.ttf');
}
.mainPageMenuAction {
  border: 1px solid;
  width: 100%;
  height: 72px;
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goBackButton {
  background: none;
  border: none;
  height: 20px;
  margin-left: 40px;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}
.goBackButtonName {
  padding-left: 18px;
  font-family: $textFontFamily;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #82B284;

}
.goBackButton:hover {
  transform: scale(1.1);
}

.mainButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  margin-right: 30px;
  width: 120px;
  height: 40px;
}

.mainButton {
  border: none;
  background: none;
  cursor: pointer;
}
.mainButtonIcons {
  width: 20px;
}
.mainButtonIcons:hover {
  transform: scale(1.3);
}