@import "src/common/sass/variables";
@import "src/common/sass/mixins";

.burialBlock {
  height: 156px;
  border-bottom: 1px solid #E5E5E5;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.burialBlockName {
  font-family: $textFontFamily;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #3B3B3B;
}

.burialBlockNameBlock {
  //border: 1px solid;
  display: flex;
  height: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.infoBlockNameRedactionButton {
  @include infoBlockNameRedactionButton
}

.companyInformation {
  //border: 1px solid;
  height: 148px;
}
.lineInfoWrapper {
  display: flex;
}

.namesInfo {
  display: flex;
}

.lineName {
  width: 150px;
  margin-right: 12px;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #3B3B3B;
}

.lineValue {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  color: #3B3B3B;
}

.inputDate {
  margin-left: 5px;
  height: 20px;
}