@import "../../../../../../../common/sass/variables";
@import "../../../../../../../common/sass/mixins";

.lineInfoWrapper {
  display: flex;
}

.lineName {
  width: 150px;
  margin-right: 12px;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #3B3B3B;
}

.lineValue {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  color: #3B3B3B;
}
