@import "../../../../../../common/sass/variables";
@import "../../../../../../common/sass/mixins";

@font-face {
  font-family: $textFontFamily;
  src: url('../../../../fonts/proximanova_regular.ttf');
}

.infoBlockName {
  //border: 1px solid red;
  font-family: $textFontFamily;
  height: 30px;
  margin-left: 40px;
  margin-top: 24px;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.editBlockName {
  display: flex;
  align-items: center;
}

.onEditInfoBlockName {
  font-family: $textFontFamily;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
}

.infoBlockNameRedactionButton {
  @include infoBlockNameRedactionButton
}

.loginCancelButton {
  @include LoginPageButton(#B9B9B9);
  font-size: 12px;
}

.loginSaveButton {
  @include LoginPageButton(#82B284);
  font-size: 12px;
}

.loginCancelButton:hover {
  @include LoginPageButton(#B9B9B9);
  font-size: 12px;
  transform: scale(1.1);
}

.loginSaveButton:hover {
  @include LoginPageButton(#82B284);
  font-size: 12px;
  transform: scale(1.1);
}
fieldset {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 4px;
  position: relative;
}

.fieldset label {
  position: absolute;
  top: -10px;
  left: 20px;
  background-color: #fff;
  padding: 0 10px;
}

.labelName {
  font-family: $textFontFamily;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #808080;
}
.blockNameValue {
  font-family: $textFontFamily;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #222222;
}
