@import "../common/sass/mixins";
@import "../common/sass/variables";

//@font-face {
//    font-family: 'Proxima Nova';
//    src: url('fonts/proximanova_regular.ttf');
//}

.footer {
    grid-area: c;
    border: 1px solid;
    height: 128px;
    background: #FFFFFF;
    display: grid;
    grid-template-columns: 272px 1fr;
   }

.emptyBlock {
}

.descriptionBlock {
    display: flex;
    justify-content: center;
}

.footerInscription {
    font-family: $textFontFamily;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #B9B9B9;

    margin-top: 32px;
}
